#route-logo {
  display: flex;
  max-width: 15vh;
}

.route-header {
  background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.473)), url(../images/ocean.jpg);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.route-row {
  display: flex;
  justify-content: space-around !important;
  margin: 0 auto;
}

.route-mobile-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }

  .route-row {
    padding-top: 1rem;
  }

}